{"web":{"client_id":"234046892193-ddp0lknpivu9asjam5e7fsdhltkpfv19.apps.googleusercontent.com","project_id":"appp-439519","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["https://www.aimaker.world/auth/google/callback/","https://www.aimaker.world/auth","https://aimaker.world/auth/google/callback/","https://aimaker.world/auth","https://aimaker.world","https://www.aimaker.world"],"javascript_origins":["https://www.aimaker.world"]}}
